log syslog informational

route-map REDISTRIBUTE permit 10
  match interface vrf-main

route-map UCMP_ENABLE permit 10
  set extcommunity bandwidth num-multipaths

router bgp {{ net_frr_bgp_asn }} vrf vrf-main
  bgp router-id {{ net_frr_bgp_router_id }}
  bgp bestpath as-path multipath-relax
  !bgp bestpath bandwidth ignore
  !bgp bestpath bandwidth skip-missing
  bgp bestpath bandwidth default-weight-for-missing
  neighbor LEAF peer-group
  neighbor LEAF bfd
  neighbor LEAF remote-as external
  {% for interface in net_frr_peer_interfaces %}
  neighbor {{ interface }} interface peer-group LEAF
  {% endfor %}
  address-family ipv4 unicast
    neighbor LEAF activate
    neighbor LEAF route-map UCMP_ENABLE out
    redistribute connected route-map REDISTRIBUTE
  exit-address-family
